* {
    margin: 0;
    padding: 0;
    /* cursor: none !important; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* html,
body {
    cursor: none;
} */

body {
    width: 100%;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 20fr 1fr;
}

#cursor {
    position: absolute !important;
}