* {
    margin: 0;
    padding: 0;
    /* cursor: none !important; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* html,
body {
    cursor: none;
} */

body {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: auto; /* Changed from hidden to auto */
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto; /* Changed to auto 1fr auto */
}

#header {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
#main {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto; /* Add this line */
}
#footer {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}