* {
    margin: 0;
    padding: 0;
    /* cursor: none !important; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* html,
body {
    cursor: none;
} */

body {
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    overflow-y: auto; /* Changed from hidden to auto */
    overflow-x: hidden;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto; /* Changed to auto 1fr auto */
}

#header {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
#main {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    overflow-y: auto; /* Add this line */
}
#footer {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color); /* Replaced with variables */
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: var(--scrollbar-track-color); /* Replaced with variable */
}

*::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-color); /* Replaced with variable */
    border-radius: 10px;
    border: 3px none var(--scrollbar-track-color); /* Replaced with variable */
}